// Hide view till js fully loads so we don't get flickering
body {
  opacity: 0;
}

// A customisable CSS file that makes browsers render all
// elements more consistently and in line with modern standards.
@import "node_modules/normalize.scss/normalize";

// SCSS variables for media queries.
@import "../globals/mediaQueries";

// A thin layer on top of normalize.css that provides a starting point
// more suitable for web applications.
// Removes the default spacing and border for appropriate elements.
@import "../globals/base";

// SCSS variables for colors.
@import "../globals/colors";

// Single purpose utility classes.
@import "../utils/utils";


// Plugins

@import "../plugins/tocify.scss";

@import "../plugins/prism.scss";

//Override prism.css defaults
pre[class*='language-'] > code[data-language] {
  max-height: none;
  padding:0;
  font-size: 13px;
  overflow: auto;

}


@import "../plugins/search.scss";

// Components

@import '../components/PanelTopic.scss';

// Typography componenet
@import '../components/Typography.scss';

// Header componenet
@import "../components/Header";

// Content componenet
@import "../components/Content";

@import "../components/SamplesAside";

@import "../components/Sample";

@import "../components/SpecialLink";

// SideMenu componenet
@import "../components/SideMenu";
