@import "../../common/stylesheets/baseline";

.ProductFilter {
  margin-top: 10px;
  margin-left:10px;
}

.ProductFilter-h3 {
  @include baseline(12px);
  margin-top: 20px;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.ProductFilter-li {
  @include baseline(12px);
}
