include header.jade
.Content.Header-benathHeader.SideMenu-asideSideMenu
  .SamplesAside-bgChromeHack
  .SamplesAside.Content-inner
    .panelTopic.panelTopic--banner.u-noMaxWidth.u-textAlignCenter
      .PanelTopic-badge
      img.panelTopic-image
      .panelTopic-header
      h1.panelTopic-title
    | <%= contents %>
    hr
    p © 2014 Applicaster LTD. All rights reserved.
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='/public/bundle.js')
