html
  body(
    style=" display: flex; justify-content: center; align-items: center;background: url('/public/images/noise.gif') repeat;"
  ) 
    h1(
      style="font-family: helvetica; text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; margin-bottom:100px; text-align:center;"
    ) !{errMsg}
