html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/screen.css")
  body
    .Header.u-posFixed
      span.Header-mainTitle
        a.u-unstyledLink.Header-logo(href="/", alt="Applicaster") &nbsp;
        span.Header-text Developer Documentation (ALPHA)
      .Header-border
    .SideMenu
      .TocifyWrapper.tocify-wrapper
        #toc.tocify
          
    .Content.Header-benathHeader.SideMenu-asideSideMenu
      - each api in apis
        a.panelTopic.PanelTopic--teaser(href="#{api.url}")
          img.panelTopic-image(src='/public/images/icons/#{api.icon}')
          .panelTopic-header #{api.kit}
          h1.panelTopic-title #{api.title}
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='/public/bundle.js')
